<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>URL Shotner</h1>
    <% if (locals.id) { %>
    <p>Short URL Generated Successfully</p>
    <p>Short URL : http://localhost:8011/url/<%= id %></p>
    <% } %>
    <div>
      <form method="post" action="/url">
        <label>Enter Original URL :</label>
        <input
          type="text"
          name="originalURL"
          placeholder="https://expample.com"
        />
        <button type="submit">Generate URL</button>
      </form>
    </div>
    <% if (locals.urls) { %> ,
    <table>
      <thead>
        <th>S.NO.</th>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>Total Clicks</th>
      </thead>
      <tbody>
        <% urls.forEach((url,index) => { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= url.originalURL %></td>
          <td><%= url.shortID %></td>
          <td><%= url.totalClicks.length %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
